<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem #

_In this notebook, Data Science Tools and Ecosystem are summarized._

**Objectives:**

-  Python
-  TensorFlow
-  Matplotlib
-  ggplot
-  Hadoop

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy

| Data Science Tools |
|------------------|
| Jupyter Notebook |
| Zeppelin Notebook |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author ##
Muhammad Azhar Alam